
@{
    ViewData["Title"] = "Login";
}

<div>
	<h2>Register</h2>

	<form method="post" action="/Login/AttemptLogin">
		Avatar Name: <input type="text" name="AvatarName" /><br />
		Password <input type="text" name="Password" /><br />
		<input type="submit" value="Submit" />
	</form>
</div>

