
@{
    ViewData["Title"] = "Register";
}

<div>
	<h2>Register</h2>
	
	<form method="post" action="">
		Avatar Name: <input type="text" name="avatarName" /><br />
		D.O.B.: <input type="date" name="birthdate" /><br />
		Password <input type="text" name="password" /><br />
		<input type="submit" value="Submit"/>
	</form>
</div>

