
@{
    ViewData["Title"] = "Register";
}

<div>
	<h2>Register</h2>
	
	<form method="post" action="/Login/RegisterToAPI">
		Avatar Name: <input type="text" name="AvatarName" /><br />
		D.O.B.: <input type="date" name="DateOfBirth" /><br />
		Password <input type="text" name="Password" /><br />
		<input type="submit" value="Submit"/>
	</form>
</div>

